.App {
  text-align: center;
  /*background-color: #F9F9F9;*/
  height: 100%;
  padding-top: 60px;
}

@media only screen 
and (min-width: 768px) 
and (max-width: 992px)  {
  .App {
    padding-top: 120px;
  }
}

.Table-header
{
   background-color: #606060;
  /*color: white;*/
}

tbody > tr{
  background-color: #404040;
}

.FiftyPercent > tr > td{
  width: 50%;
}

@media only screen and (max-width: 720px) {
   tr > td{
    float:left!important;
    width: 100% !important;
  }
  td > strong{
    text-decoration: underline;
  }
}

.App-body{
  text-align: left;
}

.App-h1{
  font-size: large;
}

.bold{
  font-style: bold;
}

.image{
  max-width:100px;
  max-height: 100px;
}

.whiteanchor{
  color:white;
}

.navbar{
  background-color: #252525;
  color: white;
  border-bottom-color: #606060;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  opacity: .97;
}
 .offset{
  padding-top: 40px; margin-top: -40px;
 }

 @media only screen and (max-width: 992px) {
   .particles{
     display: none;
   }
 }